#python specific

*.pyc

## Generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.swo
*.out
*.c
*.o
*.so
*.ipynb
*.coverage

#OpenSNP data
user*.txt

/build
/doc/build
/dist

tests/data/chrY.1000.vcf
*egg-info/
